body{
    font-family: Poppins; 
    text-align: center;
    font-weight: bold;
    background:linear-gradient(0deg,rgba(75, 73, 74, 0.5),rgba(75, 72, 73, 0.5)),url(./bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;
    color: white;
}
h1{
    padding: 2rem 0 2rem 0;
}
h3{
    padding: 2rem 0 2rem 0;
}
.btn{
padding: 1rem;
margin: 2rem;
width: 250px;
}
i{
    margin: 3rem 0 1rem 0;
}