/* styles for gas mileage calculator */

/* styles for body */
body {
    font-family: Poppins;
    font-size: 20px;
    background-color: rgb(78, 82, 78);
    text-align: center;
    background: url(./bg3.jpeg) fixed no-repeat;
    background-size: cover;
}

/* styles for nav-bar */
.nav-link {
    font-size: 1.1em !important;
}

h1 {
    font-size: 3rem;
}
/* styles for form */
.main {
    display: inline-block;
    text-align: left;
    background-color: rgb(118, 122, 121);
    border-radius: 10px;
    border: 5px double rgb(66, 65, 65);
    margin: 2rem;
}
label{
    margin-bottom:0; 
}
/* input fields */
.size {
    width: 250px;
    height: 20px;
    border: none;
    border-bottom: 1px solid rgb(185, 214, 203);
    background-color: rgb(118, 122, 121);
    transition: background-color 5500s ease-in-out 0s;
}

input[type="text"] {
    font-size: 20px;
    color: white;
    -webkit-text-fill-color: rgb(253, 253, 253);
}

input[type="number"] {
    font-size: 20px;
}

.size:focus {
    outline: none;
    background-color: rgb(105, 196, 161);
}

/* button */
button {
    font-size: 25px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(118, 122, 121);
    box-shadow: 2px 3px rgb(67, 70, 69);
}
button:focus {
    outline: none;
}
/* media queries */
@media (min-width:769px) and (max-width: 826px) {
    body {
        width: fit-content;
    }
}

@media (max-width: 325px) {
    body {
        width: fit-content;
    }
}

@media (max-width: 575px) {
    label {
        text-align: center;
    }
    input {
        margin: 0 auto;
    }
}