@import url('https://fonts.googleapis.com/css?family=Concert+One');
body{
    font-family: Concert One;
    color: black;
    background-color: rgb(255, 255, 255);
}
#temperature{
    font-size: 60px;
}
.cel{
    font-size: 40px;
    color: rgb(3, 3, 3);
}
.cel:hover{
    color: rgb(7, 7, 7);
}
.faren{
    font-size: 40px;
    color: black !important;
    opacity:0.5; 
} 
.faren:hover{
    color: rgb(0, 0, 0);
}
