@import url('https://fonts.googleapis.com/css?family=Margarine');
body{
    background-image: url(./bg..jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Margarine;
    height: -webkit-fill-available;
}
.modal{
    font-family: Poppins;
}

h1{
    text-align: center;
    color: white;
    margin: 3rem;
}
span{
    color: white;
    margin:10px 0 0 10px; 
}
button{
    color: white;
    background-color: transparent;
    font-size: 25px;
    border: 1px solid rgb(170, 165, 165);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

button:focus{
    outline: none;
}

.timer__controls{
    text-align: center;
}

#input{
    width:250px;
    height: 50px;
    border: none;
    margin-top: 50px;
    background-color: transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: background-color 5500s ease-in-out 0s;
}

input[type="text"] {
    font-size: 20px;
    color: white;
    -webkit-text-fill-color: rgb(253, 253, 253);
    text-align: center;
}

#input:focus{
    outline: none;
    color: white;
}

::placeholder { 
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
.display{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}


@media (min-width: 165px) and (max-width: 343px) {
    body{
        height: auto;
    }
}
