@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: Poppins;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(230, 185, 185);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding: 10px;
  color: rgb(0, 0, 0);
}

.question {
  font-size: 30px;
  margin-bottom: 10px;
}

.answers {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}

.answers label {
  display: block;
  margin-bottom: 10px;
}
/* button styles */
button {
  font-size: 25px;
  background-color: rgb(14, 13, 13);
  color: rgb(223, 180, 180);
  border: 0px;
  font-weight: bold;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  margin: 30px 0 20px 0;
}

button:focus {
  outline: none;
}
/* styles for slides */
.slide {
  display: none;
}

.active-slide {
  display: block;
}

.quiz-container {
  position: relative;
  height: 200px;
  margin-top: 60px;
}
/* results */
#results {
  font-size: 50px;
}
/* styles for modal */
#icon{
  margin: 1rem;
text-align: left;
}

.modal-header{
  background-color: black;
  color: rgb(212, 139, 139);
}

.m-0{
  background-color: black;
  color:  rgb(231, 176, 176);
}
.btn{
  background-color: black;
  color:  rgb(212, 139, 139);
}